@import url("./pico/pico.min.css");

body {
  padding-left: 20px;
  padding-right: 20px;
}

.sheet {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;

  background: #051c27;
  transform: translateY(100%);
  transition: transform 0.3s ease;

  z-index: 1000;
}

/* visible */
.sheet.open {
  transform: translateY(20px);
}

.sheet-content {
  padding: 20px;
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 12px;

  width: 36px;
  height: 36px;

  border-radius: 50%;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  cursor: pointer;
}
