<dialog open>
  <article>
    <header>
      <button aria-label="Close" rel="prev" id="btn-cerrar-modal"></button>
      <p>
        <strong>Nueva orden</strong>
      </p>
    </header>
    <form id="form">
      <label>Cliente:</label>
      <select id="selector-cliente" name="cliente" required></select>
      <fieldset>
        <legend>Productos:</legend>
        <div id="productos-container"></div>
        <div class="grid">
          <label>
            <input type="checkbox" value="galletas" id="checkbox-galletas" />
            Galletas
          </label>
          <input
            type="number"
            name="number"
            placeholder="Cantidad"
            aria-label="Number"
            value="0"
            id="cantidad-galletas"
            disabled
          />
        </div>
        <div class="grid">
          <label>
            <input type="checkbox" value="queques" id="checkbox-queques" />
            Queques
          </label>
          <input
            type="number"
            name="number"
            placeholder="Cantidad"
            aria-label="Number"
            value="0"
            id="cantidad-queques"
            disabled
          />
        </div>
      </fieldset>
      <input type="submit" id="btn-guardar" value="Guardar"></input>
    </form>
  </article>
</dialog>
