<dialog open>
  <article>
    <header>
      <button aria-label="Close" rel="prev" id="btn-cerrar-modal"></button>

      <p>
        <strong>Agregar nuevo registro</strong>
      </p>
    </header>
    <ul>
      <li>
        <button type="button" id="btn-abrir-formulario" value="clientes">
          Nuevo cliente
        </button>
      </li>
      <li>
        <button type="button" id="btn-abrir-formulario" value="productos">
          Nuevo producto
        </button>
      </li>
      <li>
        <button type="button" id="btn-abrir-formulario" value="ordenes">
          Nueva orden
        </button>
      </li>
    </ul>
  </article>
</dialog>
