<dialog open>
  <article>
    <header>
      <button aria-label="Close" rel="prev" id="btn-cerrar-modal"></button>
      <p>
        <strong>Nuevo producto</strong>
      </p>
    </header>
    <label for="nombre-producto">Nombre:</label>
    <input type="text" id="input-nombre" name="producto" required></input>
    
    <label for="nombre-precio">Precio:</label>
    <input type="text" id="input-precio" name="precio" required></input>

    <button type="submit" id="btn-guardar">Guardar</button>
  </article>
</dialog>
